[submodule "edk2/pve-edk2-firmware"]
	path = edk2/pve-edk2-firmware
	url = git://git.proxmox.com/git/pve-edk2-firmware.git
[submodule "kernel/pve-kernel"]
	path = kernel/pve-kernel
	url = git://git.proxmox.com/git/pve-kernel.git
	branch = pve-kernel-4.15
[submodule "qemu-server/qemu-server"]
	path = qemu-server/qemu-server
	url = git://git.proxmox.com/git/qemu-server.git
